img {
    max-width: 100%;
    max-height: 100%;
}
.aligned {
    in-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100%; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
body {
    font-family: helvetica;
}
h1 {
    padding-top: 40px;
    font-weight: bold;
    text-align: center;
    color: #ff9a35;
}

a {
    color: #fc8917;
}
li {
    list-style: none;
}
